* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    :root {
      --blue-text: rgb(59, 151, 163);
      --dark-blue: rgb(0, 109, 128);
      --mid-blue: rgb(32, 169, 233); 
    }
    
    /* navbar section*/
    #mobile-nav {
      display: none;
    }
    
    
    .nav-bar{
      position: absolute;
      z-index: 2;
      width: 100%;
    }
    
    
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10%;
      list-style: none;
      height: 10vh;
      background-color: rgb(175, 211, 193);
    
    }
    
    li a{
      display: block;
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
    
    }
    
    #name {
      color: var(--blue-text);
      font-size: 30px;
      font-weight: bold;
    }
    
    /*hereo section */
    .container {
      position: relative;
      height: 100vh;
      width: 100%;
      width: 100%;
      overflow: hidden;
    
    }
    
    .image-container {
      position: relative;
      background-image: url(images/IMG_0253_Original.JPG);
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      margin: 0vh;
      animation: scale 5s;
    
    }
    
    @keyframes scale {
      0% {
        transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
    
    }
    html {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    a{
      text-decoration: none;
     
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        position:absolute;
        top: 35%;
        font-size: 25px;
        color:black;
        text-transform: uppercase;
        z-index: 2;
    }
    
    .firstword {
        color:black;
    
    }

    .resume-cta {
        border: 2px solid black;
        width: 150px;
        padding: 10px;
        margin-top: 20px;
        color:black;
    }

    .resume-cta:hover{
background-color: blanchedalmond;

 }
.contentcontainer {
  display:flex;
  padding-left: 24px;
  padding-right: 24pt;
  justify-content: center;
   border-style: solid;
  border-color: cadetblue;

}
   
    .middlecolumn1 {

      display: flex;
      flex-direction: column;
      flex:0.25;
      flex-wrap: wrap;
    

    }

    .middlecolumn2 {

      display: flex;
      flex-direction: column;
      flex: 50%;
      flex-wrap: wrap;
     
      
     
     
      

    }
    .middlecolumn3 {

      display: flex;
      flex-direction: column;
      flex:0.25;
      flex-wrap: wrap;
  
    
    
    }
      footer {
        align-content: center;
      }

  
   
    
    
    
    
    
    
    
    